-i  http://pypi.doubanio.com/simple

django_autocomplete_light==3.2.10
django_silk==3.0.0
six==1.11.0
Django==2.0.1
xadmin==2.0.1
Markdown==3.0.1
mistune==0.8.4
django_debug_toolbar==1.9.1
django_ckeditor==5.6.1
Pillow==4.0.0
dal==0.2
djangorestframework==3.9.1
silk==0.1
debug-toolbar-line-profiler==0.6.1

# 从当前setup.py中查找其他依赖项
-e  .